<a class='section-link' name='contact'></a>
<h1>Talk to Me</h1>
<article>
  <ul id='social_links'>
    <li>
      <a href='mailto:paigepon@gmail.com'>
        <img src='./images/social_icons/email.png' />
      </a>
      <a href='mailto:paigepon@gmail.com'>Email Me</a>
    </li>
    <li>
      <a href='http://twitter.com/paigetponzeka'>
        <img src='./images/social_icons/twitter.png' />
      </a>
      <a href='http://twitter.com/paigetponzeka'>Tweet Me</a>
    </li>
    <li>
      <a href='http://hello.ponzeka.com'>
        <img src='./images/social_icons/tumblr.png' />
      </a>
      <a href='http://hello.ponzeka.com'>Follow Me</a>
    </li>
    <li>
      <a href='https://plus.google.com/104898766253674680721/posts?hl=en'>
        <img src='./images/social_icons/googleplus.png' />
      </a>
      <a href='https://plus.google.com/104898766253674680721/posts?hl=en'>Circle Me</a>
    </li>
    <li>
      <a href='https://github.com/PaigePonzeka'>
        <img src='./images/social_icons/github.png' />
      </a>
      <a href='https://github.com/PaigePonzeka'>Fork Me</a>
    </li>
    <li>
      <a href='http://www.linkedin.com/in/paigeponzeka'>
        <img src='./images/social_icons/linkedin.png' />
      </a>
      <a href='http://www.linkedin.com/in/paigeponzeka'>Recruit Me</a>
    </li>
    <li>
      <a href='http://pinterest.com/paigeponzeka/'>
        <img src='./images/social_icons/pinterest.png' />
      </a>
      <a href='http://pinterest.com/paigeponzeka/'>Pin Me</a>
    </li>
  </ul>
</article>
<article id='lifestream'></article>
