
<div id='name_banner'>
  <ul id='first_name'>
    <li class='indent blue'>
      <div class='minimal-indent'>P</div>
    </li>
    <li class='indent lime_green'>
      <div class='minimal-indent'>A</div>
    </li>
    <li class='indent purple'>
      <div class='minimal-indent'>I</div>
    </li>
    <li class='indent pink'>
      <div class='minimal-indent'>G</div>
    </li>
    <li class='indent amber'>
      <div class='minimal-indent'>E</div>
    </li>
  </ul>
  <ul id='last_name'>
    <li class='indent maroon'>
      <div class='minimal-indent'>P</div>
    </li>
    <li class='indent yellow'>
      <div class='minimal-indent'>O</div>
    </li>
    <li class='indent red'>
      <div class='minimal-indent'>N</div>
    </li>
    <li class='indent dark_blue'>
      <div class='minimal-indent'>Z</div>
    </li>
    <li class='indent dark_purple'>
      <div class='minimal-indent'>E</div>
    </li>
    <li class='indent dark_red'>
      <div class='minimal-indent'>K</div>
    </li>
    <li class='indent seagreen'>
      <div class='minimal-indent'>A</div>
    </li>
  </ul>
</div>
<div id='dino_container'>
  <div id='dino_bubble'>
    <ul id='dino_bubble_content'>
      <li class='light_blue hide'>
        See some of the things I created, sample code, demos and screenshots of some of my projects.
      </li>
      <li class='lime_green hide'>
        Just a Little Blurb about me and what I've done.
      </li>
      <li class='purple hide'>
        Pure Utter nonsense. Enter at your own risk.
      </li>
      <li class='rawr'>
        <ul>
          <li class='default'>RAWR!</li>
          <li class='hide message1'>Om Nom Nom</li>
          <li class='hide message2'>Rawr means I love you in Dinosaur!</li>
          <li class='hide message3'>If You're Happy and you know it clap your...oh.</li>
          <li class='hide message4'>If Time is Money, Then Are ATM's Time Machines?</li>
          <li class='hide message5'>We all have a dinosaur deep within us just trying to get out.</li>
        </ul>
      </li>
    </ul>
    <div id='dino_bubble_triangle'></div>
  </div>
  <div id='dino_wrapper'>
    <div id='dino_clothes'>
      <div class='hide' id='dino_accessory'></div>
      <div class='hide' id='dino_hat'></div>
    </div>
    <div id='dino'></div>
  </div>
</div>
