%a(name="home" class="section-link")
#name_banner
  %ul#first_name
    %li.indent.blue
      .minimal-indent P
    %li.indent.lime_green
      .minimal-indent A
    %li.indent.purple
      .minimal-indent I
    %li.indent.pink
      .minimal-indent G
    %li.indent.amber
      .minimal-indent E
  %ul#last_name
    %li.indent.maroon
      .minimal-indent P
    %li.indent.yellow
      .minimal-indent O
    %li.indent.red
      .minimal-indent N
    %li.indent.dark_blue
      .minimal-indent Z
    %li.indent.dark_purple
      .minimal-indent E
    %li.indent.dark_red
      .minimal-indent K
    %li.indent.seagreen
      .minimal-indent A

#dino_container
  #dino_bubble
    %ul#dino_bubble_content
      %li.light_blue.hide
        See some of the things I created, sample code, demos and screenshots of some of my projects.
      %li.lime_green.hide
        Just a Little Blurb about me and what I've done.
      %li.purple.hide
        Pure Utter nonsense. Enter at your own risk.
      %li.rawr
        %ul
          %li.default RAWR!
          %li.hide.message1 Om Nom Nom
          %li.hide.message2 Rawr means I love you in Dinosaur!
          %li.hide.message3 If You're Happy and you know it clap your...oh.
          %li.hide.message4 If Time is Money, Then Are ATM's Time Machines?
          %li.hide.message5 We all have a dinosaur deep within us just trying to get out.

    #dino_bubble_triangle
  #dino_wrapper
    #dino_clothes
      #dino_accessory.hide
      #dino_hat.hide
    #dino