
= render 'partials/_nav.html.haml', :locals => { :active => "#contact" }
%h1 Talk to Me

%article
  %ul#social_links
    %li
      %a(href="mailto:paigepon@gmail.com")
        %img(src="./images/social_icons/email.png")
      %a(href="mailto:paigepon@gmail.com") Email Me
    %li
      %a(href="http://twitter.com/paigetponzeka")
        %img(src="./images/social_icons/twitter.png")
      %a(href="http://twitter.com/paigetponzeka") Tweet Me
    %li
      %a(href="http://hello.ponzeka.com")
        %img(src="./images/social_icons/tumblr.png")
      %a(href="http://hello.ponzeka.com") Follow Me
    %li
      %a(href="https://plus.google.com/104898766253674680721/posts?hl=en")
        %img(src="./images/social_icons/googleplus.png")
      %a(href="https://plus.google.com/104898766253674680721/posts?hl=en") Circle Me
    %li
      %a(href="https://github.com/PaigePonzeka")
        %img(src="./images/social_icons/github.png")
      %a(href="https://github.com/PaigePonzeka") Fork Me
    %li
      %a(href="http://www.linkedin.com/in/paigeponzeka")
        %img(src="./images/social_icons/linkedin.png")
      %a(href="http://www.linkedin.com/in/paigeponzeka") Recruit Me
    %li
      %a(href="http://pinterest.com/paigeponzeka/")
        %img(src="./images/social_icons/pinterest.png")
      %a(href="http://pinterest.com/paigeponzeka/") Pin Me

%article#lifestream