%h1 See What I've Done
#slideshow
  #slideshow_window
    #slideshow_window_content
      %ul

        %li
          %img(src='./images/work/memberly.gif')
          .slideshow_window_description
            %h4 Memberly
            %p
              Did some front end development work on
              %a(href="http://member.ly")
                Memberly
              during my time at
              %a(href="http://disrupto.com")
                Disrupto.
              Worked mainly in HAML, SASS and Javascript/JQuery (Coffeescript.)

        %li
          %img(src='./images/work/bsu.gif')
          .slideshow_window_description
            %h4 BlueshirtsUnited
            %p
              Did some front end development work on
              %a(href="http://blueshirtsunited.com")
                BlueshirtsUnited
              during my time at
              %a(href="http://disrupto.com")
                Disrupto.
              Worked mainly in HAML, SASS and Javascript/JQuery (Coffeescript.)

        %li
          %img(src='./images/work/knicks.gif')
          .slideshow_window_description
            %h4 KnicksNow
            %p
              Did some front end development work on
              %a(href="http://knicksnow.com") KnicksNow
              during my time at
              %a(href="http://disrupto.com")
                Disrupto.
              Worked mainly in HAML, SASS and Javascript/JQuery (Coffeescript.)

        %li
          %img(src='./images/work/shootout.gif')
          .slideshow_window_description
            %h4 Shootout
            %p
              A Carnival style shooting game built in python with pygames. View The game in action in
              %a(href="http://www.youtube.com/watch?v=DWA1-p8YFuE") this video.

          %li
            %img(src='./images/work/wordz.gif')
            .slideshow_window_description
              %h4 Wordz
              %p
                My first Javascript project! A Typing game created as part of a group project using Javascript, HTML and CSS.
                Code and files are available on
                %a(href="https://github.com/PaigePonzeka/Wordz") Github

          %li
            %img(src='./images/work/stats2v.gif')
            .slideshow_window_description
              %h4 Stats2V
              %p
                Part of a large scale stats tracking system. Created an interface for users to view, and compare stats from a PC game. Used PHP, MySQL, Javascript, HTML and CSS. Most of the site is still running
                %a(href="http://stats2v.ponzeka.com/rankings.php") here.


          %li
            %img(src='./images/work/vsu.gif')
            .slideshow_window_description
              %h4 VSU Victim Database
              %p
                Collaborated with another developer to create a stats tracking database for the Social Workers at the Brookyln DA's Office Victim Services Unit. Used Microsoft Access and VBA.

          %li
            %img(src='./images/work/playlist_creator.gif')
            .slideshow_window_description
              %h4 Playlist creator
              %p
                A friendly UI for server managers trying to generate a game playlist. Created in Visual Studio using C#.
                %a(href="http://ponzeka.com/demos/samples/DVPlaylistCreator/PlaylistCreator.zip") Download Here.


  #slideshow_controls_previous.slideshow_control.hide
  #slideshow_controls_next.slideshow_control
  #slideshow_nav
    #slide_window
      %ul#slides

        %li.slideshow_item.selected
          %img(src='./images/work/icon_memberly.gif')
          .slide_title
            %h3 Memberly

        %li.slideshow_item
          %img(src='./images/work/icon_bsu.gif')
          .slide_title
            %h3 BlueshirtsUnited

        %li.slideshow_item
          %img(src='./images/work/icon_knicks.gif')
          .slide_title
            %h3 KnicksNow

        %li.slideshow_item
          %img(src='./images/work/icon_shootout.gif')
          .slide_title
            %h3 Shootout

        %li.slideshow_item
          %img(src='./images/work/icon_wordz.gif')
          .slide_title
            %h3 Wordz

        %li.slideshow_item
          %img(src='./images/work/icon_stats2v.gif')
          .slide_title
            %h3 Stats2v

        %li.slideshow_item
          %img(src='./images/work/icon_vsu.gif')
          .slide_title
            %h3 VSU Database

        %li.slideshow_item
          %img(src='./images/work/icon_playlist-creator.gif')
          .slide_title
            %h3 Playlist Creator
  #slideshow_pages
    %ul
      %li

#small_nav
%h4 Small Apps and Projects
%ul
  %li
    %a(href="http://paige.ponzeka.com/how_old") How Old
    %p Find out how old I was or you were when a movie was released.
