@charset "utf-8";
/* CSS Document */

div.wrapper {
	padding-top:50px;
width: 700px;
position: relative;
font-family: 'Droid Sans', arial, serif;
clear: both;
}

div.left {
	
width: 50%;
position: relative;
float: left;
font-size:16px;
}



td {
    border: 40px transparent;
	margin:auto;
	text-align:center;
} 

div.right {
	float:right;
	font-family: 'Droid Sans', arial, serif;
	font-size:16px;
	position: relative; 
}
th
{
	font-size:24px;
	text-align:center;
	font-weight:1200;
}
h1
{
	font-size:16px;
	font-weight:700;
	
}

