<a name='about'></a>
<h1>A Little Sumptin' Sumptin' About Me</h1>
<article>
  <p>
    Paige Ponzeka is a graduate of New York University with a degree in Computer Science. She enjoys creating beautiful products with efficient technology designed to make people&#39;s lives easier.
  </p>
  <p>
    At Disrupto, Paige worked closely with a team of designers and developers to implement web and mobile applications for Samsung, Madison Square Garden (New York Knicks and Rangers), and other clients. While working on a consulting team for the Brookyln DA&#39;s office, she interacted with everyday users to architect a database solution capable of automating the statistic tracking process.
  </p>
  <p>
    Paige has experience with CSS, HTML4+, Javascript (jQuery, Coffeescript), and Ruby on Rails. She always welcomes the opportunity to learn new technologies!
  </p>
</article>
