<h1>See What I've Done</h1>
<ul id='work-list'>
  <li class='work-list-item'>
    <img src='images/work/icon_stats2v.gif' />
    <h3>Stats2V</h3>
    <p class='description'>Did some programming in PHP and MySQL. Collborated with a small team of programmers and researchers to coincide with a stats data tracking application to collect in game stats for an online video game.</p>
    <ul class='work-list-tools'>
      <li>PHP</li>
      <li>MySQL</li>
      <li>HTML</li>
      <li>JQuery</li>
      <li>CSS</li>
      <li>C#</li>
    </ul>
  </li>
  <li class='work-list-item'>
    <img src='images/work/icon_stats2v.gif' />
    <h3>Stats2V</h3>
    <p class='description'>Did some programming in PHP and MySQL. Collborated with a small team of programmers and researchers to coincide with a stats data tracking application to collect in game stats for an online video game.</p>
    <ul class='work-list-tools'>
      <li>PHP</li>
      <li>MySQL</li>
      <li>HTML</li>
      <li>JQuery</li>
      <li>CSS</li>
      <li>C#</li>
    </ul>
  </li>
</ul>
