<h1>See What I've Done</h1>
<div id='slideshow'>
  <div id='slideshow_window'>
    <div id='slideshow_window_content'>
      <ul>
        <li>
          <img src='./images/work/memberly.gif' />
          <div class='slideshow_window_description'>
            <h4>Memberly</h4>
            <p>
              Did some front end development work on
              <a href='http://member.ly'>
                Memberly
              </a>
              during my time at
              <a href='http://disrupto.com'>
                Disrupto.
              </a>
              Worked mainly in HAML, SASS and Javascript/JQuery (Coffeescript.)
            </p>
          </div>
        </li>
        <li>
          <img src='./images/work/bsu.gif' />
          <div class='slideshow_window_description'>
            <h4>BlueshirtsUnited</h4>
            <p>
              Did some front end development work on
              <a href='http://blueshirtsunited.com'>
                BlueshirtsUnited
              </a>
              during my time at
              <a href='http://disrupto.com'>
                Disrupto.
              </a>
              Worked mainly in HAML, SASS and Javascript/JQuery (Coffeescript.)
            </p>
          </div>
        </li>
        <li>
          <img src='./images/work/knicks.gif' />
          <div class='slideshow_window_description'>
            <h4>KnicksNow</h4>
            <p>
              Did some front end development work on
              <a href='http://knicksnow.com'>KnicksNow</a>
              during my time at
              <a href='http://disrupto.com'>
                Disrupto.
              </a>
              Worked mainly in HAML, SASS and Javascript/JQuery (Coffeescript.)
            </p>
          </div>
        </li>
        <li>
          <img src='./images/work/shootout.gif' />
          <div class='slideshow_window_description'>
            <h4>Shootout</h4>
            <p>
              A Carnival style shooting game built in python with pygames. View The game in action in
              <a href='http://www.youtube.com/watch?v=DWA1-p8YFuE'>this video.</a>
            </p>
          </div>
          <li>
            <img src='./images/work/wordz.gif' />
            <div class='slideshow_window_description'>
              <h4>Wordz</h4>
              <p>
                My first Javascript project! A Typing game created as part of a group project using Javascript, HTML and CSS.
                Code and files are available on
                <a href='https://github.com/PaigePonzeka/Wordz'>Github</a>
              </p>
            </div>
          </li>
          <li>
            <img src='./images/work/stats2v.gif' />
            <div class='slideshow_window_description'>
              <h4>Stats2V</h4>
              <p>
                Part of a large scale stats tracking system. Created an interface for users to view, and compare stats from a PC game. Used PHP, MySQL, Javascript, HTML and CSS. Most of the site is still running
                <a href='http://stats2v.ponzeka.com/rankings.php'>here.</a>
              </p>
            </div>
          </li>
          <li>
            <img src='./images/work/vsu.gif' />
            <div class='slideshow_window_description'>
              <h4>VSU Victim Database</h4>
              <p>
                Collaborated with another developer to create a stats tracking database for the Social Workers at the Brookyln DA's Office Victim Services Unit. Used Microsoft Access and VBA.
              </p>
            </div>
          </li>
          <li>
            <img src='./images/work/playlist_creator.gif' />
            <div class='slideshow_window_description'>
              <h4>Playlist creator</h4>
              <p>
                A friendly UI for server managers trying to generate a game playlist. Created in Visual Studio using C#.
                <a href='http://ponzeka.com/demos/samples/DVPlaylistCreator/PlaylistCreator.zip'>Download Here.</a>
              </p>
            </div>
          </li>
        </li>
      </ul>
    </div>
  </div>
  <div class='slideshow_control hide' id='slideshow_controls_previous'></div>
  <div class='slideshow_control' id='slideshow_controls_next'></div>
  <div id='slideshow_nav'>
    <div id='slide_window'>
      <ul id='slides'>
        <li class='slideshow_item selected'>
          <img src='./images/work/icon_memberly.gif' />
          <div class='slide_title'>
            <h3>Memberly</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_bsu.gif' />
          <div class='slide_title'>
            <h3>BlueshirtsUnited</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_knicks.gif' />
          <div class='slide_title'>
            <h3>KnicksNow</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_shootout.gif' />
          <div class='slide_title'>
            <h3>Shootout</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_wordz.gif' />
          <div class='slide_title'>
            <h3>Wordz</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_stats2v.gif' />
          <div class='slide_title'>
            <h3>Stats2v</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_vsu.gif' />
          <div class='slide_title'>
            <h3>VSU Database</h3>
          </div>
        </li>
        <li class='slideshow_item'>
          <img src='./images/work/icon_playlist-creator.gif' />
          <div class='slide_title'>
            <h3>Playlist Creator</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id='slideshow_pages'>
    <ul>
      <li></li>
    </ul>
  </div>
</div>
<div id='small_nav'></div>
<h4>Small Apps and Projects</h4>
<ul>
  <li>
    <a href='http://paige.ponzeka.com/how_old'>How Old</a>
    <p>Find out how old I was or you were when a movie was released.</p>
  </li>
</ul>
