%html
  %head
    %title Paige Ponzeka
    %link(rel="icon" href="images/favicon.ico" type="image/gif")
    %link(href="styles/reset.css" media="screen" rel="stylesheet" type="text/css" )
    %link(href="styles/launch.css" media="screen" rel="stylesheet" type="text/css" )



  %body
    .sidebar
      .sidebar-wrapper
        #name_banner
          %ul#first_name
            %li.indent.blue
              .minimal-indent P
            %li.indent.lime_green
              .minimal-indent A
            %li.indent.purple
              .minimal-indent I
            %li.indent.pink
              .minimal-indent G
            %li.indent.amber
              .minimal-indent E
          %ul#last_name
            %li.indent.maroon
              .minimal-indent P
            %li.indent.yellow
              .minimal-indent O
            %li.indent.red
              .minimal-indent N
            %li.indent.dark_blue
              .minimal-indent Z
            %li.indent.dark_purple
              .minimal-indent E
            %li.indent.dark_red
              .minimal-indent K
            %li.indent.seagreen
              .minimal-indent A
        
        .sidebar-logo
          .sidebar-logo-wrapper
            .sidebar-logo-dino
              %img{:src => "images/dino.png"}/
        
        %ul.sidebar-navigation
          %li.home.active
            %a{:href => "#home"} Home
          %li.about
            %a{:href => "#about"} About
          %li.blog
            %a{:href => "http://hello.ponzeka.com"} Blog
          %li.work
            %a{:href => "#work"} Work
          %li.contact
            %a{:href => "#contact"} Contact
      .sidebar-zigzag


    .main
      .main-content      
        %section#home.step(data-x="0" data-y="0")
          = render 'partials/_home.html.haml'

        %section#about-me.step(data-x="1500" data-y="0")
          = render 'partials/_about.html.haml'

        %section#work.step(data-x="3500" data-y="800" data-rotate="90")
          = render 'partials/_work.html.haml'

        %section#social.step(data-x="-500" data-y="-1800" data-rotate="90")
          = render 'partials/_contact.html.haml'

  #little_dino_container.hide
    #little_dino_bubble
      #little_dino_bubble_content
        %p.message

      %ul#little_dino_bubble_buttons
        %li.hide.left#little_dino_bubble_buttons_yes Yes
        %li.hide.center Okay
        %li.center#little_dino_bubble_buttons_no Go away
      #little_dino_bubble_triangle_border
      #little_dino_bubble_triangle
    #little_dino

    %script(src="scripts/jquery-1.7.2.min.js" type="text/javascript" )
    %script(src="scripts/jquery.lifestream.min.js" type="text/javascript" )
    %script(src="scripts/impress.js" type="text/javascript" )
    %script(src="scripts/jquery.isotope.min.js" type="text/javascript" )
    %script(src="scripts/launch.js" type="text/javascript" )






